<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id        = "com.shawnphoffman.ttrtracker"
  version   = "2.0">

  <name>TTR Tracker</name>

  <description>
    Simple scorecard and train counter companion app for Ticket to Ride-style board games.
  </description>

  <author href="http://www.shawnphoffman.com" email="shawn.p.hoffman@gmail.com">
    Shawn Hoffman
  </author>

  <content src="index.html" />
  <access origin="*" />

  <feature name="Device">
    <param name="ios-package" value="CDVDevice" />
  </feature>

  <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
  </feature>
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />

</widget>
