<label class="label-radio item-content">
  {{#if currentVersion }}
    <input type="radio" name="ks-radio" value="{{version}}" checked="checked" />
  {{else}}
    <input type="radio" name="ks-radio" value="{{version}}" />
  {{/if}}
  <div class="item-inner ttr-version">
    <div class="item-title">{{version}}</div>
  </div>
</label>
