body {
  background: #101010;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.view-main {
  /*background: url(../img/bg.jpg) no-repeat center;*/
  background-color: #202020;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pages,
.page {
  background: none;
}
html.ios .page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.ios .page-content {
  margin-bottom: 1px;
}
.players-list {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.players-list ul {
  background: none;
  border: none;
}
.players-list .item-title {
  font-size: 25px;
}
.players-list .swipeout-content {
  background: none;
}
.players-list .swipeout-actions {
  opacity: 0;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.players-list .swipeout-opened .swipeout-actions {
  opacity: 1;
}
.players-list .item-inner {
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
/*.players-list .label-checkbox:active {
  background-color: rgba(255, 255, 255, 0.2);
}*/
/*.players-list .item-content {
  border-left: 15px solid;
}*/

.button.button-bug {
  border-color: #8d00ff;
  background: #8d00ff;
}
.button.button-feature {
  border-color: #ff8400;
  background: #ff8400;
}
.content-block .button-big {
  margin-bottom: 20px;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox:after {
  background-color: transparent;
  border: 1px solid #fff;
}



label .item-inner .item-score{
  font-size: 25px;
  max-height: 38px;
}

.list-block .item-inner.color-selection{
  height: 100px;
}

.train-count{
  font-size: .65em;
  opacity: .75;
  margin-left: 10px;
  display: inline-block;
}

.list-block > div#player-list > ul.players > li {
  /*height: 90px;*/
  border-bottom: solid 2px #333;
}

ul.players .item-content {
  display: block;
  padding-left: 10px;
  font-size: 2em;
  line-height: 1em;
  /*height: 75px;*/
  background-color: grey;
}

/*Guaranteed Accurate*/
.players div.player-data[data-color="orange"], .color-buttons a[data-color="orange"] {
  background-color: #E67E22;
}
.players div.player-data[data-color="blue"], .color-buttons a[data-color="blue"] {
  background-color: #3498DB;
}
.players div.player-data[data-color="green"], .color-buttons a[data-color="green"] {
  background-color: #27AE60;
}
.players div.player-data[data-color="white"], .color-buttons a[data-color="white"] {
  background-color: #ECF0F1;
  color: #2C3E50;
}
.players div.player-data[data-color="yellow"], .color-buttons a[data-color="yellow"] {
  background-color: #F4D03F;
  color: #2C3E50;
}
.players div.player-data[data-color="pink"], .color-buttons a[data-color="pink"] {
  background-color: #D2527F;
}
.players div.player-data[data-color="purple"], .color-buttons a[data-color="purple"] {
  background-color: #8E44AD;
}
.players div.player-data[data-color="red"], .color-buttons a[data-color="red"] {
  background-color: #E74C3C;
}
.players div.player-data[data-color="black"], .color-buttons a[data-color="black"] {
  background-color: #353535;
}
.players div.player-data:active {
  background-color: #ECF0F1;
  color: #2C3E50;
}
.players div.player-data[data-color="white"]:active {
  background-color: #BDC3C7;
  color: #ECF0F1;
}

.name-space {
  float: left;
}

.score-space {
  float: right;
  padding-right: 10px;
  padding-top:18px !important;
}

.sortable-opened .score-space {
  margin-right: 25px;
}

.trains-space {
  clear: left;
  font-size: .5em;
  font-style: italic;
  letter-spacing: 1px;
}

.name-space, .score-space {
  padding-top: 6px;
}

.view-main .navbar {
  border-bottom: solid 2px #000;
  background-color: #4D1A80;
  color: #fff;
}

.warning-item {
  /*background-color: #8B0000;*/
  background-color: #580000;
}

.warning-item:active {
  background-color: #777;
  color: #8B0000;
}

.list-block .item-link:active {
  background-color: #777;
}

.panel .item-content {
  color: white;
}

.popup {
  background: rgba(30, 30, 30, 0.95);
}

.popup .navbar {
  color: #fff;
  border: none;
}

.popup-settings .navbar {
  background: #00B090;
}

.popup-cheats .navbar {
  background: #DF7B00;
}

.popup-routes .navbar {
  background: #2980b9;
}

.popup a.link {
  color: #FFF;
}
.popup .list-block ul {
  background: none;
  border: none;
  color: #FFF;
}
.popup .list-block input {
  color: #fff;
}
.popup .item-inner {
  border-color: rgba(255, 255, 255, 0.2);
}
.popup .button {
  border-color: #fff;
  color: #fff;
}
.popup .button:active {
  background: rgba(255, 255, 255, 0.1);
}


body.with-popup .view-main {
  -webkit-transform: translate3d(0, 0px, 0) scale(0.85);
  -moz-transform: translate3d(0, 0px, 0) scale(0.85);
  -ms-transform: translate3d(0, 0px, 0) scale(0.85);
  -o-transform: translate3d(0, 0px, 0) scale(0.85);
  transform: translate3d(0, 0px, 0) scale(0.85);
  -webkit-filter: blur(5px);
}
body.with-popup .statusbar-overlay {
  background: #111;
}
@media all and (max-width: 629px) and (max-height: 629px) {
  body.with-popup .statusbar-overlay {
    z-index: 11000;
  }
}
.statusbar-overlay {
  background: #4D1A80;
}
.list-block .item-after{
  color: #FFF;
}

.popup-settings .list-block .item-title.label {
  width: 55%;
  min-width: 200px;
}

.modal-button {
  background: #3498DB;
  color: white;
  border-color: #D2D2D6;
}
.modal-button:active {
  color: #3498DB;
  background: #EEE;
}

.modal-inner{
  border-bottom: 1px solid #D2D2D6;
  background-color: #3498DB;
  color: #FFF;
}

.modal-overlay, .preloader-indicator-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.actions-modal-button, .actions-modal-label {
  background-color: #3498DB;
  color: #FFF;
}

.actions-modal-label, .actions-modal-button.actions-modal-button-red, .actions-modal-label.actions-modal-button-red {
  color: #DDD;
}

.actions-modal-button.actions-modal-button-bold, .actions-modal-label.actions-modal-button-bold {
  font-weight: bold;
  font-style: italic;
}

.actions-modal-button:active {
  background: #DCDCDC;
  color: #3498DB;
}

.actions-modal.modal-in, .modal {
  opacity: 0.9;
}

label.label-radio input[type=checkbox]:checked~.item-inner, label.label-radio input[type=radio]:checked~.item-inner {
  background: url(img/i-form-radio-white.png) no-repeat center;
  background-position: -webkit-calc(100% - 15px) center;
  background-position: -moz-calc(100% - 15px) center;
  background-position: -ms-calc(100% - 15px) center;
  background-position: calc(100% - 15px) center;
  -webkit-background-size: auto 10px;
  background-size: auto 10px;
  background-repeat: no-repeat;
}

.color-buttons, .quick-buttons {
  margin-top: 10px;
}

.color-buttons a, .quick-buttons a {
  color: #FFF;
  margin-top: 2px;
  width: 47%;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  height: 2em;
  line-height: 1.9em;
  border: 1px solid #000;
  font-size: 1.5em;
}

.quick-button {
  background-color: rgba(0, 0, 0, 0.15);
}

.color-buttons a:active, .quick-buttons a:active {
  background-color: #DDD;
  color: #000;
}

.button.undo-button {
  font-size: 1.4em;
  height: 42px;
  line-height: 2.05em;
  background-color: rgba(0, 0, 0, 0.15);
}

li.accordion-item {
  border-top: 1px solid #C8C7CC;
}

.list-block li li:last-child .item-inner {
  border-bottom: none;
}

.cheats-list .content-block.inset {
  background-color: #333;
  padding-top: 4px;
  padding-bottom: 8px;
  margin-bottom: 4px;
}

.cheats-list h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 5px 0px;
  color: #F4D03F;
}

.cheats-list h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 5px 0px 0px 0px;
  color: #F4D03F;
}

.cheats-list .content-block ul {
  list-style: initial;
  list-style-position: inside;
}

.cheats-list .content-block {
  color: white;
}

.panel {
  background: #222;
}

.panel .panel-li {
  background-color: #2c3e50;
}

.panel .content-block-title {
  color: #FFF;
}

.panel .content-block {
  color: #CCC;
}

.navbar .left a+a, .navbar .right a+a {
  margin-left: 0;
}

.list-block .swipeout-actions-inner a.swipeout-delete {
  font-size: 1.25em;
}

.modal-title+.modal-text {
  max-height: 300px;
  overflow-y: scroll;
}

.actions-modal-button.color-red, .actions-modal-label.color-red {
  color: #DDD;
}

.preloader:after{
  url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.57'/><use xlink:href='%23l' opacity='.57' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.57' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.57' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.57' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>")
}

.about-block p {
  margin: 0.5em 0;
}

.panel .list-block {
  margin-bottom: 20px;
}

.panel .content-block-title {
  margin-top: 20px;
}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after {
  border: none;
}

.route-incomplete:after {
   content: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><g stroke="null" id="icomoon-ignore"/><path stroke="null" stroke-width="0" d="m15.91971,1.60903l-1.60903,-1.60903l-6.35083,6.35083l-6.35083,-6.35083l-1.60903,1.60903l6.35083,6.35083l-6.35083,6.35083l1.60903,1.60903l6.35083,-6.35083l6.35083,6.35083l1.60903,-1.60903l-6.35083,-6.35083l6.35083,-6.35083z" fill="#bfbfbf" id="svg_1"/></g></svg>');
}

.route-complete:after {
  content: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><g id="icomoon-ignore"/><path id="svg_1" fill="#bfbfbf" d="m5.08761,11.52075l-3.78634,-3.78634l-1.28481,1.28481l5.07115,5.07115l10.89594,-10.89594l-1.28482,-1.28481l-9.61113,9.61113z"/></g></svg>');
}

/* ROUTES STYLES */
ul.ttr-routes {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ttr-routes li {
    padding: 0.85em 1em;
    border-bottom: 1px solid black;
    -webkit-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
    -ms-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    transition: background 0.15s ease;
}
.nopull {
    background-color: rgba(85,85,85,0.8);
}
.green {
    background-color: rgba(39,174,96,0.8);
}
.red {
    background-color: rgba(192,57,43,0.8);
}
.red span:after {
  content: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><g stroke="null" id="icomoon-ignore"/><path stroke="null" stroke-width="0" d="m15.91971,1.60903l-1.60903,-1.60903l-6.35083,6.35083l-6.35083,-6.35083l-1.60903,1.60903l6.35083,6.35083l-6.35083,6.35083l1.60903,1.60903l6.35083,-6.35083l6.35083,6.35083l1.60903,-1.60903l-6.35083,-6.35083l6.35083,-6.35083z" fill="#ffffff"/></g></svg>');
  position:relative;
  top:3px;
}
.green span:after {
  content: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><g id="icomoon-ignore"/><path id="svg_1" fill="#ffffff" d="m5.08761,11.52075l-3.78634,-3.78634l-1.28481,1.28481l5.07115,5.07115l10.89594,-10.89594l-1.28482,-1.28481l-9.61113,9.61113z"/></g></svg>');
  position:relative;
  top:3px;
}
.ttr-routes span {
    float: right;
}
.modal {
  width: 300px;
  margin-left: -150px;
}
span.nobr {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  display: inherit;
  font-weight: 500;
}
span.rtComplete {
  color: rgba(19, 83, 46, 0.7);
}
span.rtIncomplete {
  color: rgba(220, 0, 0, 0.5);
}
.muted {
  opacity: 0.35;
}
