body {
  background: #333;
}
.view-main {
  /*background: url(../img/bg.jpg) no-repeat center;*/
  background-color: #777;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
.pages,
.page {
  background: none;
}
html.ios .page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.ios .page-content {
  margin-bottom: 1px;
}
.view-main .navbar {
  border-bottom: none;
  background: #333;
  color: #fff;
}
i.icon-plus {
  color: #fff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 31px;
  line-height: 20px;
  text-align: center;
  font-weight: 100;
}
.todo-items-list {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.todo-items-list ul {
  background: none;
  border: none;
}
.todo-items-list .item-title {
  font-size: 25px;
}
.todo-items-list .swipeout-content {
  background: none;
}
.todo-items-list .swipeout-actions {
  opacity: 0;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
.todo-items-list .swipeout-opened .swipeout-actions {
  opacity: 1;
}
.todo-items-list .item-inner {
  padding-top: 18px;
  padding-bottom: 16px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.todo-items-list .label-checkbox:active {
  background: rgba(255, 255, 255, 0.2);
}
.todo-items-list .item-content {
  border-left: 15px solid;
}
.todo-items-list li[data-color="orange"] .item-content {
  border-left-color: #ff8400;
}
.todo-items-list li[data-color="blue"] .item-content {
  border-left-color: #089efe;
}
.todo-items-list li[data-color="green"] .item-content {
  border-left-color: #2df523;
}
.todo-items-list li[data-color="white"] .item-content {
  border-left-color: #fff;
}
.todo-items-list li[data-color="yellow"] .item-content {
  border-left-color: #eaff00;
}
.todo-items-list li[data-color="pink"] .item-content {
  border-left-color: #ee00e1;
}
.todo-items-list li[data-color="purple"] .item-content {
    border-left-color: #8d00ff;
}
.todo-items-list li[data-color="red"] .item-content {
    border-left-color: #ff000a;
}
.todo-items-list li[data-color="black"] .item-content {
    border-left-color: #000;
}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox:after {
  background-color: transparent;
  border: 1px solid #fff;
}
.popup {
  background: rgba(30, 30, 30, 0.70);
}
.popup .navbar {
  color: #fff;
  background: #111;
  border: none;
}
.popup a.link {
  color: #FFF;
}
.popup .list-block ul {
  background: none;
  border: none;
  color: #FFF;
}
.popup .list-block input {
  color: #fff;
}
.popup .item-inner {
  border-color: rgba(255, 255, 255, 0.2);
}
.popup .button {
  border-color: #fff;
  color: #fff;
}
.popup .button:active {
  background: rgba(255, 255, 255, 0.1);
}
.popup span.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #FFF;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
    border: #FFF dotted 1px;
}
.popup span.color:last-child {
  margin-right: 0;
}
.popup span.color[data-color="orange"] {
    background: #ff8400;
}
.popup span.color[data-color="black"] {
    background: #000;
}
.popup span.color[data-color="pink"] {
  background: #cc0442;
}
.popup span.color[data-color="blue"] {
  background: #089efe;
}
.popup span.color[data-color="green"] {
  background: #2df523;
}
.popup span.color[data-color="yellow"] {
  background: #eaff00;
}
.popup span.color[data-color="white"] {
  background: #fff;
}
.popup span.color[data-color="purple"] {
    background: #8d00ff;
}
.popup span.color[data-color="red"] {
    background: #ff0000;
}
.popup span.color[data-color="cyan"] {
  background: #00fff6;
}
.popup span.color.selected {
  -webkit-transform: translate3d(0, 0, 0) scale(1.25);
  -moz-transform: translate3d(0, 0, 0) scale(1.25);
  -ms-transform: translate3d(0, 0, 0) scale(1.25);
  -o-transform: translate3d(0, 0, 0) scale(1.25);
  transform: translate3d(0, 0, 0) scale(1.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
    border: #FFF dotted 2px;
}
@media all and (min-width: 568px) {
  .popup span.color {
    margin-right: 10px;
  }
}
body.with-popup .view-main {
  -webkit-transform: translate3d(0, 0px, 0) scale(0.85);
  -moz-transform: translate3d(0, 0px, 0) scale(0.85);
  -ms-transform: translate3d(0, 0px, 0) scale(0.85);
  -o-transform: translate3d(0, 0px, 0) scale(0.85);
  transform: translate3d(0, 0px, 0) scale(0.85);
  -webkit-filter: blur(5px);
}
body.with-popup .statusbar-overlay {
  background: #333;
}
@media all and (max-width: 629px) and (max-height: 629px) {
  body.with-popup .statusbar-overlay {
    z-index: 11000;
  }
}
.statusbar-overlay {
  background: #333;
}
/*.modal-inner {*/
  /*background: #cc0442;*/
  /*color: #fff;*/
  /*border-bottom: 1px solid #9a0332;*/
/*}*/
/*.modal-button {*/
  /*background: #cc0442;*/
  /*border-right-color: #9a0332;*/
  /*color: #fff;*/
/*}*/
/*.modal-button:active {*/
  /*background: #9a0332;*/
/*}*/
.list-block .item-after{
    color: #FFF;
}

.popup-settings .list-block .item-title.label {
    width: 55%;
}

label .item-inner .item-score{
    font-size: 25px;
    max-height: 38px;
}

.list-block .item-inner.color-selection{
    height: 100px;
}

.train-count{
    font-size: .65em;
    opacity: .75;
    margin-left: 10px;
    display: inline-block;
}

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none; -moz-appearance: none;
    display: block;
    margin: 0;
    /*width: 100%; */
    /*height: 40px;*/
    line-height: 40px;
    /*font-size: 17px;*/
    border: 1px solid #bbb;
}
